%h1
  ="Edit Questions for \"#{@quiz.name}\""
  .back-link=link_to "[back]", admin_url

=render :partial=>"nav_buttons", :locals=>{:quiz=>@quiz, :action=>@action}
=render :partial=>"/application/flash", :locals=>{:flash=>flash}
