.admin-container
{
  width: 1000px;
  margin-top: 40px;
  border: 2px solid #555555;
  color: #555555;
  background-color: #cccccc;
  padding: 15px;
  min-height: 100px;
}

h1 .back-link
{
  float: right;
  font-size: 12px;
  position: relative;
  top: 6px;
}

h1 .back-link a, h1 .back-link a:visited
{
  text-decoration: none;
  color: white;
}

h1
{
  color: white;
  background-color: #555555;

  font-size: 16pt;
  width: 100%;

  margin-top: -15px;
  margin-bottom: 10px;
  margin-left: -15px;

  padding-right: 25px;
  padding-left: 5px;
  padding-bottom: 5px;
}

input[type=submit]
{
  display: block;
}

table.quizzes
{
  width:100%;
  margin-top: 10px;
}

table.quizzes th
{
  color: white;
  background-color: #555555;
  text-align: left;
  padding-right: 15px;
  padding-left: 15px;
}

table.quizzes td
{
  padding: 0;
  padding-right: 15px;
  padding-left: 15px;
}

table.quizzes input
{
  position: relative;
  top: 8px;
}

tr.odd { background-color: white; }
tr.even { background-color: #dddddd; }

/* Edit quiz pages ********************************/

.nav-buttons
{
  width: 600px;
}

.nav-buttons-clear
{
  height: 0;
  clear: both;
}

.nav-button
{
  width: 198px;
  float: left;
  text-align: center;
  border: 2px solid black;
  border-left: none;
}

.nav-buttons a, .nav-buttons a:visited
{
  text-decoration: none;
  color: black;
}

.nav-button.active { background-color: white; }

.nav-buttons > a:first-child > .nav-button { border-left: 2px solid black; width: 196px; }

.quiz-form
{
  width: 80%;
  top: 20px;
  margin-bottom: 51px;
}

label
{
  margin-top: 20px;
  display: block;
}

input[type=text], textarea
{
  width: 100%;
}

.quiz-form input[type=submit]
{
  position: absolute;
  width: 200px;
  bottom: -36px;
  left: 50%;
  margin-left: -100px;
}

.record-container
{
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
  padding: 10px;
  background-color: rgb(204,204,204);
}

.record-container .field-value
{
  margin-left: 20px;
  color: black;
}

.record-container .action-buttons a, .record-container .action-buttons a:visited
{
  color: black;
}

.record-container input, .record-container label
{
  margin-top: 5px;
}

.record-container input[type=submit]
{
  display: inline;
}