body{ color: #555555; }

a{ color: #333333; }

.quiz-container
{
  border-color: #999999;
  background: #e9e9e9;
}

.quiz-start-link
{ 
  border-color: #339933;
  background: #99ff99;
}

.quiz-restart-link
{ 
  border-color: #993333;
  background: #ff9999;
}

.answer.odd { background-color: white; }
.answer.even { background-color: #cccccc; }
.answer:hover { border-color: #555555; }

.question-status { border-color: #555555; }
.question-status.unanswered { background-color: #cccccc; }
.question-status.answered { background-color: #99ff99; }
.question-status.current { border-color: white; }