.question-text=@question.question

%ul.answers
  -@question.answers.each do |answer|
    %li
      .answer{:class=>cycle('odd','even')}
        =link_to answer.answer, answer_quiz_url(@quiz.short_name, @question.id, answer.id)

-link_to restart_quiz_url(@quiz.short_name) do
  .bottom
    .quiz-restart-link.button-link
      Restart

=render :partial=>"progress"