.quiz-title=@quiz.name

.quiz-description=@quiz.description

-link_to quiz_question_url(@quiz.short_name, @quiz.questions.first.id) do
  .bottom
    .quiz-start-link.button-link.centered
      Start Quiz